a.json
*.out
*.mp4
.DS_Store
*.swp
*.xcuserstate
DerivedData
build
UserInterfaceState.xcuserstate
xcuserdata
irtc/irtc.xcodeproj/project.xcworkspace/xcshareddata/irtc.xccheckout
irtc/irtc.xcodeproj/project.xcworkspace/xcuserdata/
irtc/irtc.xcodeproj/xcuserdata/

