a.json
*.mp4
.DS_Store
*.swp
*.xcuserstate
build
UserInterfaceState.xcuserstate
xcuserdata
*VideoTest.xccheckout
VideoTest/VideoTest.xcodeproj/project.xcworkspace/xcshareddata/VideoTest.xccheckout
VideoTest/VideoTest.xcodeproj/project.xcworkspace/xcuserdata/
VideoTest/VideoTest.xcodeproj/xcuserdata/
player/player.xcodeproj/project.xcworkspace/xcshareddata/player.xccheckout
player/player.xcodeproj/project.xcworkspace/xcuserdata/
player/player.xcodeproj/xcuserdata/
recorder/recorder.xcodeproj/project.xcworkspace/xcshareddata/recorder.xccheckout
recorder/recorder.xcodeproj/project.xcworkspace/xcuserdata/
recorder/recorder.xcodeproj/xcuserdata/

